.introductionContent {
  margin-top: 15px;
  .ant-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ant-row:nth-child(even) {
    text-align: center;
    .ant-btn {
      font-size: 1rem;
    }
  }
}

.keypairSetup {
  margin-top: 15px;
  .ant-row:not(:last-child) {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .actionRow {
      text-align: center;
  }

  .descriptionTextRow {
    text-align: center;
    font-size: 1rem;
  }
  
  .buttonPrevious {
    float: left;
  }

  .buttonNext {
    float: right;
    &:hover {
      color: green;
      border-color: green;
    }
  }

  .buttonGenerate {
    font-size: 1rem;
  }

  .uploader {
    text-align: center;

    .uploadBox {
      padding-top: 40px;
      height: 238px;
      &:hover {
        border-color: #49A9EE;
        border-style: dashed;
      }
    }

    .ant-upload-drag-icon {
      font-size: 3rem;
      color: #49A9EE;
    }

    .ant-upload-text {
      font-size: 1rem;
    }

    .ant-upload-hint {
      font-size: 0.8rem;
    }
  }
}

.finishContent {
  margin-top: 15px;
  .ant-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ant-row:nth-child(even) {
    text-align: center;
    .ant-btn {
      font-size: 1rem;
    }
  }
}