# +---------------+
# + IntelliJ IDEA +
# +---------------+
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
out/
.idea/*
!.idea/runConfigurations
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

# +-----+
# + NPM +
# +-----+
node_modules/

# +----------+
# + SEMANTIC +
# +----------+
semantic/dist/
