# +---------+
# +  JEST   +
# +---------+
test-results/

# +-----+
# + NPM +
# +-----+
node_modules/
npm-debug.log

# +---------+
# + WEBPACK +
# +---------+
dist/

# +---------------+
# + WebStorm IDEA +
# +---------------+
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/
!.idea/runConfigurations/
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/jsLibraryMappings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/*.iml