.passphrase-modal-wrap {
  z-index: 10000;
}

.passphrase-modal {
  .ant-row {
    padding: 15px 0 15px 0;
    .anticon {
      font-size: 3rem;
    }
    font-size: 1rem;
    text-align: center;
  }
/* Hinders chrome and IE from automatically trying to save the passphrase.
   Transforms text in input field into bullets for IE and webkit based browsers */
  .show-as-bullets{
    text-security: disc;
    -webkit-text-security: disc;
  }
}