.box {
  float:left !important;
  height: 97%;
  overflow-x: scroll;
  display: inline-block !important;
}

.accordion {
  padding-left: 15px !important;
  margin-top: 0 !important;
}

.accordion .content {
  padding-top: 0 !important;
}
