.categoryTree {
  float: left !important;
  height: 100%;
  width: 250px !important;
  overflow: auto;
  display: inline-block !important;
}

.accordion {
  padding-left: 15px !important;
  margin-top: 0 !important;
}

.accordion .content {
  padding-top: 0 !important;
}
