.headerBar {
  position: fixed;
  top: 0;
  display: block;
  height: 70px;
  width: 100%;
  background-color: #434c5e;
  z-index: 2;
  overflow: hidden;
}

.logo {
  height: 70px;
  width: 70px;
  background-color: #FFFFFF;
}
