.date {
  float:              right;
  padding:            0px 5px 3px 0px;
}

.column {
  width:              auto !important;
  padding:            15px 15px 15px 15px !important;
}



.container {
  display:            inline-block;
  /* Firefox */
  width:              -moz-calc(100% - 150px);
  /* WebKit */
  width:              -webkit-calc(100% - 150px);
  /* Opera */
  width:              -o-calc(100% - 150px);
  /* Standard */
  width:              calc(100% - 150px);

  /* Firefox */
  height:              -moz-calc(100% - 30px);
  /* WebKit */
  height:              -webkit-calc(100% - 30px);
  /* Opera */
  height:              -o-calc(100% - 30px);
  /* Standard */
  height:              calc(100% - 30px);

  margin-left: 150px !important;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden !important;
}
