.ui.inverted.menu {
  background-color: #434c5e;
}

.navbarLogo {
  margin: auto;
  width: 50%;
}

.version {
  font-size: 8pt;
  color: #fff;
}

.frame {
  border: none !important;
  border-radius: 0 !important;
}

.page {
  display:            inline-block;
  /* Firefox */
  width:              -moz-calc(100% - 150px);
  /* WebKit */
  width:              -webkit-calc(100% - 150px);
  /* Opera */
  width:              -o-calc(100% - 150px);
  /* Standard */
  width:              calc(100% - 150px);

  margin-left: 150px !important;
  max-height: 100%;
}

.pageContent {
  height: 100%;
  padding: 0 0 0 0 !important;
}

/*subMenu*/
.dropdown {
  background-color: #4C566A !important;
}

.dropdown:hover {
  background-color: #434c5e !important;
}
