/* inactive radio button background -> red*/
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before, .ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
  background-color: #BF616A;
}

/* radio button -> dark*/
.ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
  background-color: #4C566A;
}

/* active radio button background -> green*/
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #A3BE8C !important;
}
